body{
    margin: 0;
    padding: 0;
}
.wrapper{
    background-color: rgb(235, 73, 93);;
    height: 100vh;
    background-size: cover;
}
.guitarWrapper{
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    top: 0%;
}
.largeHole{
    height: 440px;
    width: 440px;
    border-radius: 50%;
    background: #e43f5d;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 10%;
    border: 6px solid #ab1729;
    z-index: 2;
}
.largeHole:before{
    height: 420px;
    width: 420px;
    position: absolute;
    border-radius: 50%;
    left: 10px;
    top: 10px;
    content: '';
    background: #1d1c1c;
    z-index: 1;
}
.largeHole:after{
    height: 470px;
    width: 470px;
    position: absolute;
    border-radius: 50%;
    left: -18px;
    top: -18px;
    content: '';
    background: transparent;
    border: 3px solid #aa1729;
}
.stringHolder{
    position: absolute;
    left: 0;
    top: 0;
    height: 260px;
    width: 100%;
    z-index: 9999;
    top: 50%;
     transform: translateY(-50%);
}
.string{
    width: 100%;
    position: relative;
    padding: 15px 0;
    cursor: pointer;
    /* box-shadow:0px 0px 2px 0px #fff; */
}
.string:after{
    height: 1px;
    width: 100%;
    background: #fff;
    content: '';
    position: absolute;
    cursor: pointer;
}
.string.playing:after{
    box-shadow: 0px 0px 23px 5px #fff;
    cursor: pointer;
    transition: all .5s;
}
.string6{
    top: 0;
}
.string5{
    top: 20px;
}
.string4{
    top: 40px;
}
.string3{
    top: 60px;
}
.string2{
    top: 80px;
}
.string1{
    top: 100px;
}
.string6:after{
    height: 6px;
}
.string5:after{
    height: 5px;
}
.string4:after{
    height: 4px;
}
.string3:after{
    height: 3px;
}
.string2:after{
    height: 2px;
}
.string1:after{
    height: 1px;
}
